step5/java/java-bin.tar
step5/tomcat/tomcat-bin.tar
step5/tomcat/helloworld.war
step5/eclipse/eclipse-bin.tar
step5/maven/apache-maven.tar
step1/helloworld.war
step1/java-bin.tar
step1/tomcat-bin.tar
step2/java/java-bin.tar
step2/tomcat/tomcat-bin.tar
step2/helloworld.war
step3/java/java-bin.tar
step3/tomcat/tomcat-bin.tar
step3/helloworld.war
step4/java/java-bin.tar
step4/tomcat/tomcat-bin.tar
step4/eclipse-linux/eclipse-bin.tar
step4/eclipse-others/eclipse-bin.tar
infra/bin
