step1/java-bin
step1/tomcat-bin
step2/java/java-bin
step2/tomcat/tomcat-bin
step3/java/java-bin
step3/tomcat/tomcat-bin
step4/java/java-bin
step4/tomcat/tomcat-bin
step4/eclipse
step5/java/java-bin
step5/tomcat/tomcat-bin
step5/eclipse
